.App-header {
  text-align: center;
  background-color: #ffffff;
  border-bottom: 1px solid #e6e6e6;
}

.headerText {
  font-size: 23pt;
  margin: 0;
  padding: 15px;
}

.selectDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.custom-select {
  margin: 10px 15px 5px 15px;
  font-size: 13pt;
}

.wrapper {
  margin-right: auto; /* 1 */
  margin-left: auto; /* 1 */

  max-width: 960px; /* 2 */

  padding-right: 10px; /* 3 */
  padding-left: 10px; /* 3 */
}
