.App-header {
  text-align: center;
  background-color: #ffffff;
  border-bottom: 1px solid #e6e6e6;
}

.headerText {
  font-size: 23pt;
  margin: 0;
  padding: 15px;
}

.selectDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.custom-select {
  margin: 10px 15px 5px 15px;
  font-size: 13pt;
  flex-basis: 500px;
  height: 40px;
}

.wrapper {
  margin-right: auto;
  margin-left: auto;
  max-width: 960px;
  padding-right: 10px;
  padding-left: 10px;
}
